<!--<textarea rows="20" cols="80" [(ngModel)]="content">-->
<!--</textarea>-->
<!--<br/>-->
<!--<div [ck-editable]="{key:'myPerfectKey', value:'some '}">{{content}}</div>-->
<ckeditor
  [(ngModel)]="content"
  [config]="{removeButtons: 'Source,RemoveFormat,Copy,Redo,Undo,,Form,HiddenField,ImageButton,SelectionField,Button,TextField,,About,Language,Link,Unlink,Anchor,CreateDiv,Smiley,Flash,Cut,PasteFromWord,Paste,SelectAll,'}"
  (change)="onChange($event)"
  (ready)="onReady($event)"
  (focus)="onFocus($event)"
  (blur)="onBlur($event)"
  debounce="500">
</ckeditor>


<!--<textarea rows="20" cols="80" [(ngModel)]="content">-->
<!--</textarea>-->

